{% extends 'base.html' %}

{% block title %}
About page
{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal">Information about theme</h2>
    <p class="fs-5 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet augue lacinia diam eleifend condimentum ac sit amet nisl. Integer nec dolor at metus gravida gravida. Morbi fermentum ullamcorper eros sit amet porta. Proin mattis tempor metus, non mollis lorem. Aenean rutrum dignissim nulla, quis cursus risus congue eu. Nulla at suscipit eros, in aliquet dolor. Donec nec congue odio, a consequat felis. Nullam mi risus, fringilla quis dignissim eu, porta at ipsum. Quisque blandit convallis nibh et vehicula. Donec blandit condimentum ex viverra ullamcorper.</p>
</div>
{% endblock %}