{% extends 'base.html' %}

{% block title %}
Home page
{% endblock %}

{% block body %}
<main>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Blog with using Flask</h1>
      <p class="fs-5 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt laoreet porttitor. Praesent vel scelerisque dolor, in eleifend est. Maecenas gravida, ante et mollis tincidunt, quam ligula mollis libero, ac aliquet erat lacus sit amet magna.</p>
    </div>
    <div>
      <img class="container" src="https://hackersandslackers-cdn.storage.googleapis.com/2020/02/flask-intro.jpg">
    </div>


</main>
{% endblock %}